<%- include("partials/header") -%>

    <h1>Wilkommen bei T3</h1>
    <h2>Wählen sie eine der folgende Übungen aus</h2>
    <div class="auswahl">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-dark" type="button">Tagesübung: 16.10.21</button>
                    <button class="btn btn-dark" type="button">Tagesübung: 15.10.21</button>
                    <button class="btn btn-dark" type="button">Tagesübung: 14.10.21</button>
                    <button class="btn btn-dark" type="button">Tagesübung: 13.10.21</button>
                    <button class="btn btn-dark" type="button">Tagesübung: 12.10.21</button>
                    <button class="btn btn-dark" type="button">Tagesübung: 11.10.21</button>
                    <button class="btn btn-dark" type="button">Tagesübung: 10.10.21</button>
                    <button class="btn btn-dark" type="button">Tagesübung: 09.10.21</button>
                    <button class="btn btn-dark" type="button">Tagesübung: 08.10.21</button>
                    <button class="btn btn-dark" type="button">Tagesübung: 07.10.21</button>
                    <button class="btn btn-dark" type="button">Tagesübung: 06.10.21</button>
                    <button class="btn btn-dark" type="button">Tagesübung: 05.10.21</button>
                </div>
            </div>
        </div>
    </div>

    <%- include("partials/footer") -%>