<%- include("partials/header") -%>

    <h1>
        <%= text.date%>
    </h1>
    <div id="input-text" style="font-size: 0;">
        <span id="part1-array">12</span>
        <span id="part2-array">3</span>
        <span id="part3-array">45</span>
        <p id="original-text">
            <%= text.text%>
        </p>
    </div>
    <div class="dashboard">
        <div class="dashboard-item dashboard-item-hits">
            <span>Anschläge</span>
            <span id="dashboard-item-hits-content">0</span>
        </div>
        <div class="dashboard-item dashboard-item-time">
            <span>Zeit</span>
            <span id="dashboard-item-time-content">00:00</span>
        </div>
        <div class="dashboard-item dashboard-item-fails">
            <span>Fehler</span>
            <span id="dashboard-item-fails-content">0</span>
        </div>
    </div>

    <%- include("partials/footer") -%>