<%- include("partials/header") -%>

    <h1>
        <%= text.date%>
    </h1>
    <div id="input-text">
        <span id="part1-array">12</span>
        <span id="part2-array"></span>
        <p id="original-text">
            <%= text.text%>
        </p>
    </div>

    <%- include("partials/footer") -%>