<%- include("partials/header") -%>

    <h1>
        <%= text.date%>
    </h1>
    <div id="input-text" style="font-size: 0;">
        <span id="part1-array">12</span>
        <span id="part2-array">3</span>
        <span id="part3-array">45</span>
        <p id="original-text">
            <%= text.text%>
        </p>
    </div>
    <!-- <div id="testdiv"></div> -->

    <%- include("partials/footer") -%>