h1,
h2 {
    text-align: center;
    margin-top: 2rem;
}

.auswahl {
    text-align: center;
}

.auswahl * {
    width: 100%;
    text-align: center;
    margin-bottom: .6rem;
}

#input-text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: 600;
    color: #AAA;
    margin-left: 15rem;
    margin-right: 15rem;
}