h1,
h2 {
    text-align: center;
    margin-top: 2rem;
}

.auswahl {
    text-align: center;
}

.auswahl * {
    width: 100%;
    text-align: center;
    margin-bottom: .6rem;
}

#input-text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: 600;
    color: #CCC;
    margin-left: 15rem;
    margin-right: 15rem;
}

#part1-array {
    color: #000;
}

#part2-array {
    color: #0ff;
}

#part3-array {
    color: #CCC;
}

span {
    font-size: 1rem;
}

.dashboard {
    position: absolute;
    bottom: 0;
    left: 35%;
    width: 30%;
    height: 100px;
    background-color: goldenrod;
}

.dashboard-item {
    width: 32%;
    height: 100%;
    display: inline-block;
    text-align: center;
}

.dashboard-item-hits {
    background-color: red;
}

.dashboard-item-time {
    background-color: gray;
}

.dashboard-item-fails {
    background-color: yellow;
}

#dashboard-item-hits-content {
    display: inline-block;
    margin-top: 2rem;
    width: 100%;
}

#dashboard-item-time-content {
    display: inline-block;
    margin-top: 2rem;
    width: 100%;
}

#dashboard-item-fails-content {
    display: inline-block;
    margin-top: 2rem;
    width: 100%;
}